<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     - -------------------------------------- 0.3/6.0 MB ? eta -:--:--
     --- ------------------------------------ 0.5/6.0 MB 399.6 kB/s eta 0:00:14
     --- ------------------------------------ 0.5/6.0 MB 399.6 kB/s eta 0:00:14
     --- ------------------------------------ 0.5/6.0 MB 399.6 kB/s eta 0:00:14
     --- ------------------------------------ 0.5/6.0 MB 399.6 kB/s eta 0:00:14
     --- ------------------------------------ 0.5/6.0 MB 399.6 kB/s eta 0:00:14
     ----- ---------------------------------- 0.8/6.0 MB 313.6 kB/s eta 0:00:17
     ----- ---------------------------------- 0.8/6.0 MB 313.6 kB/s eta 0:00:17
     ----- ---------------------------------- 0.8/6.0 MB 313.6 kB/s eta 0:00:17
     ----- ---------------------------------- 0.8/6.0 MB 313.6 kB/s eta 0:00:17
     ----- ---------------------------------- 0.8/6.0 MB 313.6 kB/s eta 0:00:17
     ------- -------------------------------- 1.0/6.0 MB 281.2 kB/s eta 0:00:18
     ------- -------------------------------- 1.0/6.0 MB 281.2 kB/s eta 0:00:18
     ------- -------------------------------- 1.0/6.0 MB 281.2 kB/s eta 0:00:18
     ------- -------------------------------- 1.0/6.0 MB 281.2 kB/s eta 0:00:18
     ------- -------------------------------- 1.0/6.0 MB 281.2 kB/s eta 0:00:18
     -------- ------------------------------- 1.3/6.0 MB 272.8 kB/s eta 0:00:18
     -------- ------------------------------- 1.3/6.0 MB 272.8 kB/s eta 0:00:18
     -------- ------------------------------- 1.3/6.0 MB 272.8 kB/s eta 0:00:18
     -------- ------------------------------- 1.3/6.0 MB 272.8 kB/s eta 0:00:18
     -------- ------------------------------- 1.3/6.0 MB 272.8 kB/s eta 0:00:18
     ---------- ----------------------------- 1.6/6.0 MB 265.4 kB/s eta 0:00:17
     ---------- ----------------------------- 1.6/6.0 MB 265.4 kB/s eta 0:00:17
     ---------- ----------------------------- 1.6/6.0 MB 265.4 kB/s eta 0:00:17
     ---------- ----------------------------- 1.6/6.0 MB 265.4 kB/s eta 0:00:17
     ---------- ----------------------------- 1.6/6.0 MB 265.4 kB/s eta 0:00:17
     ------------ --------------------------- 1.8/6.0 MB 262.1 kB/s eta 0:00:16
     ------------ --------------------------- 1.8/6.0 MB 262.1 kB/s eta 0:00:16
     ------------ --------------------------- 1.8/6.0 MB 262.1 kB/s eta 0:00:16
     ------------ --------------------------- 1.8/6.0 MB 262.1 kB/s eta 0:00:16
     ------------ --------------------------- 1.8/6.0 MB 262.1 kB/s eta 0:00:16
     -------------- ------------------------- 2.1/6.0 MB 258.7 kB/s eta 0:00:15
     -------------- ------------------------- 2.1/6.0 MB 258.7 kB/s eta 0:00:15
     -------------- ------------------------- 2.1/6.0 MB 258.7 kB/s eta 0:00:15
     -------------- ------------------------- 2.1/6.0 MB 258.7 kB/s eta 0:00:15
     -------------- ------------------------- 2.1/6.0 MB 258.7 kB/s eta 0:00:15
     --------------- ------------------------ 2.4/6.0 MB 260.1 kB/s eta 0:00:14
     --------------- ------------------------ 2.4/6.0 MB 260.1 kB/s eta 0:00:14
     --------------- ------------------------ 2.4/6.0 MB 260.1 kB/s eta 0:00:14
     --------------- ------------------------ 2.4/6.0 MB 260.1 kB/s eta 0:00:14
     --------------- ------------------------ 2.4/6.0 MB 260.1 kB/s eta 0:00:14
     --------------- ------------------------ 2.4/6.0 MB 260.1 kB/s eta 0:00:14
     --------------- ------------------------ 2.4/6.0 MB 260.1 kB/s eta 0:00:14
     ----------------- ---------------------- 2.6/6.0 MB 244.3 kB/s eta 0:00:14
     ----------------- ---------------------- 2.6/6.0 MB 244.3 kB/s eta 0:00:14
     ----------------- ---------------------- 2.6/6.0 MB 244.3 kB/s eta 0:00:14
     ----------------- ---------------------- 2.6/6.0 MB 244.3 kB/s eta 0:00:14
     ------------------- -------------------- 2.9/6.0 MB 251.1 kB/s eta 0:00:13
     ------------------- -------------------- 2.9/6.0 MB 251.1 kB/s eta 0:00:13
     ------------------- -------------------- 2.9/6.0 MB 251.1 kB/s eta 0:00:13
     ------------------- -------------------- 2.9/6.0 MB 251.1 kB/s eta 0:00:13
     --------------------- ------------------ 3.1/6.0 MB 251.8 kB/s eta 0:00:12
     --------------------- ------------------ 3.1/6.0 MB 251.8 kB/s eta 0:00:12
     --------------------- ------------------ 3.1/6.0 MB 251.8 kB/s eta 0:00:12
     --------------------- ------------------ 3.1/6.0 MB 251.8 kB/s eta 0:00:12
     --------------------- ------------------ 3.1/6.0 MB 251.8 kB/s eta 0:00:12
     ---------------------- ----------------- 3.4/6.0 MB 250.4 kB/s eta 0:00:11
     ---------------------- ----------------- 3.4/6.0 MB 250.4 kB/s eta 0:00:11
     ---------------------- ----------------- 3.4/6.0 MB 250.4 kB/s eta 0:00:11
     ---------------------- ----------------- 3.4/6.0 MB 250.4 kB/s eta 0:00:11
     ---------------------- ----------------- 3.4/6.0 MB 250.4 kB/s eta 0:00:11
     ---------------------- ----------------- 3.4/6.0 MB 250.4 kB/s eta 0:00:11
     ---------------------- ----------------- 3.4/6.0 MB 250.4 kB/s eta 0:00:11
     ------------------------ --------------- 3.7/6.0 MB 244.2 kB/s eta 0:00:10
     ------------------------ --------------- 3.7/6.0 MB 244.2 kB/s eta 0:00:10
     ------------------------ --------------- 3.7/6.0 MB 244.2 kB/s eta 0:00:10
     ------------------------ --------------- 3.7/6.0 MB 244.2 kB/s eta 0:00:10
     -------------------------- ------------- 3.9/6.0 MB 246.5 kB/s eta 0:00:09
     -------------------------- ------------- 3.9/6.0 MB 246.5 kB/s eta 0:00:09
     -------------------------- ------------- 3.9/6.0 MB 246.5 kB/s eta 0:00:09
     -------------------------- ------------- 3.9/6.0 MB 246.5 kB/s eta 0:00:09
     -------------------------- ------------- 3.9/6.0 MB 246.5 kB/s eta 0:00:09
     ---------------------------- ----------- 4.2/6.0 MB 247.2 kB/s eta 0:00:08
     ---------------------------- ----------- 4.2/6.0 MB 247.2 kB/s eta 0:00:08
     ---------------------------- ----------- 4.2/6.0 MB 247.2 kB/s eta 0:00:08
     ---------------------------- ----------- 4.2/6.0 MB 247.2 kB/s eta 0:00:08
     ---------------------------- ----------- 4.2/6.0 MB 247.2 kB/s eta 0:00:08
     ----------------------------- ---------- 4.5/6.0 MB 247.0 kB/s eta 0:00:07
     ----------------------------- ---------- 4.5/6.0 MB 247.0 kB/s eta 0:00:07
     ----------------------------- ---------- 4.5/6.0 MB 247.0 kB/s eta 0:00:07
     ----------------------------- ---------- 4.5/6.0 MB 247.0 kB/s eta 0:00:07
     ----------------------------- ---------- 4.5/6.0 MB 247.0 kB/s eta 0:00:07
     ------------------------------- -------- 4.7/6.0 MB 246.5 kB/s eta 0:00:06
     ------------------------------- -------- 4.7/6.0 MB 246.5 kB/s eta 0:00:06
     ------------------------------- -------- 4.7/6.0 MB 246.5 kB/s eta 0:00:06
     ------------------------------- -------- 4.7/6.0 MB 246.5 kB/s eta 0:00:06
     ------------------------------- -------- 4.7/6.0 MB 246.5 kB/s eta 0:00:06
     --------------------------------- ------ 5.0/6.0 MB 247.1 kB/s eta 0:00:04
     --------------------------------- ------ 5.0/6.0 MB 247.1 kB/s eta 0:00:04
     --------------------------------- ------ 5.0/6.0 MB 247.1 kB/s eta 0:00:04
     --------------------------------- ------ 5.0/6.0 MB 247.1 kB/s eta 0:00:04
     --------------------------------- ------ 5.0/6.0 MB 247.1 kB/s eta 0:00:04
     ----------------------------------- ---- 5.2/6.0 MB 246.0 kB/s eta 0:00:03
     ----------------------------------- ---- 5.2/6.0 MB 246.0 kB/s eta 0:00:03
     ----------------------------------- ---- 5.2/6.0 MB 246.0 kB/s eta 0:00:03
     ----------------------------------- ---- 5.2/6.0 MB 246.0 kB/s eta 0:00:03
     ----------------------------------- ---- 5.2/6.0 MB 246.0 kB/s eta 0:00:03
     ------------------------------------ --- 5.5/6.0 MB 246.5 kB/s eta 0:00:02
     ------------------------------------ --- 5.5/6.0 MB 246.5 kB/s eta 0:00:02
     ------------------------------------ --- 5.5/6.0 MB 246.5 kB/s eta 0:00:02
     ------------------------------------ --- 5.5/6.0 MB 246.5 kB/s eta 0:00:02
     ------------------------------------ --- 5.5/6.0 MB 246.5 kB/s eta 0:00:02
     -------------------------------------- - 5.8/6.0 MB 246.4 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 246.4 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 246.4 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 246.4 kB/s eta 0:00:01
     -------------------------------------- - 5.8/6.0 MB 246.4 kB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 244.5 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-win_amd64.whl size=1142950 sha256=12c6840c8ab9320cc06c7ee26f489a28268234bb7d5a6d24d6129f5d90b17cac
  Stored in directory: c:\users\morel\appdata\local\pip\cache\wheels\b3\1c\42\0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.34
    Uninstalling SQLAlchemy-2.0.34:
      Successfully uninstalled SQLAlchemy-2.0.34
Successfully installed sqlalchemy-1.3.9

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aext-project-filebrowser-server 4.1.0 requires sqlalchemy>=2.0.29, but you have sqlalchemy 1.3.9 which is incompatible.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.14.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\morel\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\morel\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\morel\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\morel\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\morel\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\morel\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\morel\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.38-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 558.9 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 558.9 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 558.9 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 558.9 kB/s eta 0:00:03
   -------------- ------------------------- 0.8/2.1 MB 349.5 kB/s eta 0:00:04
   -------------- ------------------------- 0.8/2.1 MB 349.5 kB/s eta 0:00:04
   -------------- ------------------------- 0.8/2.1 MB 349.5 kB/s eta 0:00:04
   -------------- ------------------------- 0.8/2.1 MB 349.5 kB/s eta 0:00:04
   -------------- ------------------------- 0.8/2.1 MB 349.5 kB/s eta 0:00:04
   -------------- ------------------------- 0.8/2.1 MB 349.5 kB/s eta 0:00:04
   ------------------- -------------------- 1.0/2.1 MB 290.9 kB/s eta 0:00:04
   ------------------- -------------------- 1.0/2.1 MB 290.9 kB/s eta 0:00:04
   ------------------- -------------------- 1.0/2.1 MB 290.9 kB/s eta 0:00:04
   ------------------- -------------------- 1.0/2.1 MB 290.9 kB/s eta 0:00:04
   ------------------- -------------------- 1.0/2.1 MB 290.9 kB/s eta 0:00:04
   ------------------------ --------------- 1.3/2.1 MB 282.0 kB/s eta 0:00:03
   ------------------------ --------------- 1.3/2.1 MB 282.0 kB/s eta 0:00:03
   ------------------------ --------------- 1.3/2.1 MB 282.0 kB/s eta 0:00:03
   ------------------------ --------------- 1.3/2.1 MB 282.0 kB/s eta 0:00:03
   ------------------------ --------------- 1.3/2.1 MB 282.0 kB/s eta 0:00:03
   ----------------------------- ---------- 1.6/2.1 MB 274.2 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 274.2 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 274.2 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 274.2 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 274.2 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 267.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 267.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 267.0 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 267.0 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 268.1 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 265.1 kB/s eta 0:00:00
Downloading prettytable-3.14.0-py3-none-any.whl (31 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.14.0 sqlalchemy-2.0.38 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in c:\users\morel\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\morel\anaconda3\lib\site-packages (3.14.0)
Requirement already satisfied: ipython in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (2.0.38)
Requirement already satisfied: sqlparse in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\morel\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\morel\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\morel\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\morel\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\morel\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\morel\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\morel\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\morel\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\morel\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists="replace", index=False, method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [7]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [8]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
%%sql
SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%%sql
SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass FROM SPACEXTABLE WHERE Customer LIKE '%NASA (CRS)%';

 * sqlite:///my_data1.db
Done.

[(48213,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [19]:
%sql select AVG(PAYLOAD_MASS__KG_) from SPACEXTABLE where Booster_Version like '%F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [24]:
%sql select Date from SPACEXTABLE where Landing_Outcome = 'Success' order by Date limit 1;

 * sqlite:///my_data1.db
Done.

[('2018-07-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [26]:
%sql select Payload from SPACEXTABLE where Mission_Outcome = 'Success' and PAYLOAD_MASS__KG_ > 4000 and PAYLOAD_MASS__KG_ < 6000

 * sqlite:///my_data1.db
Done.

[('AsiaSat 8',),
 ('AsiaSat 6',),
 ('ABS-3A Eutelsat 115 West B',),
 ('Turkmen 52 / MonacoSAT',),
 ('SES-9',),
 ('JCSAT-14',),
 ('JCSAT-16',),
 ('EchoStar 23',),
 ('SES-10',),
 ('NROL-76',),
 ('Boeing X-37B OTV-5',),
 ('SES-11 / EchoStar 105',),
 ('GovSat-1 / SES-16',),
 ('SES-12',),
 ('Merah Putih ',),
 ('Es hail 2',),
 ('Nusantara Satu, Beresheet Moon lander, S5',),
 ('RADARSAT Constellation, SpaceX CRS-18 ',),
 ('GPS III-03, ANASIS-II',),
 ('ANASIS-II, Starlink 9 v1.0',),
 ('GPS III-04 , Crew-1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [28]:
%sql select Mission_Outcome, count(Mission_Outcome) from SPACEXTABLE group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [29]:
%sql select Booster_Version from SPACEXTABLE where PAYLOAD_MASS__KG_ = (select max(PAYLOAD_MASS__KG_) from SPACEXTABLE)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [35]:
%%sql 
select substr(Date, 6, 2) as Month, Landing_Outcome, Booster_Version, Launch_Site 
from SPACEXTABLE
where 
    Landing_Outcome like "%Failure%" and
    substr(Date, 0, 5) = '2015'

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [36]:
%sql SELECT Landing_Outcome, COUNT(*) as Outcome_Count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY Landing_Outcome ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]

Close connexion

In [37]:
# close connexion
cur.close()
con.close()

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center">  IBM Corporation 2021. All rights reserved. <h3/>